@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }

  button:not(:disabled):hover {
    filter: brightness(0.9);
  }
}